body {
  background-image: url(../images/second.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    font-size: 50px;
    font-family: Roboto;
    color: green;
    text-align: center;
}
p {
  color: red;
  font-size: 20px;
  text-align: center;
  }
.firstlogo, .secondlogo, .thirdlogo {
    width: 100px;
    border-radius: 50px;
    float: bottom;
}
.logos {
  text-align: center;
  }
  button {
    width: 210px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: opacity 0.15s, box-shadow 0.15s;
    margin-right: 1650px;
    margin-top: 20px;
  }
  button:hover {
    box-shadow: 5px 5px 9px black; 
  }
  button:active {
    opacity: 0.8; 
  }

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(../images/second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
      font-size: 50px;
      font-family: Roboto;
      color: green;
      text-align: center;
  }
  p {
    color: white;
    font-size: 20px;
    text-align: center;
  }
.firstlogo, .secondlogo, .thirdlogo {
    width: 100px;
    border-radius: 50px;
    float: bottom;
  }
.logos {
  text-align: center;
  }
    button {
      width: 210px;
      height: auto;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 20px;
      color: white;
      background-color: blue;
      border-radius: 30px;
      cursor: pointer;
      border: none;
      transition: opacity 0.15s, box-shadow 0.15s;
      margin-right: 1650px;
      margin-top: 20px;
    }
    button:hover {
      box-shadow: 5px 5px 9px black; 
    }
    button:active {
      opacity: 0.8; 
    }
  }
