body {
  background-image: url(../images/second.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
p {
    color: white;
    font-size: 25px;
    text-align: center;
}
h1 {
    font-size: 55px;
    font-family: Roboto;
    color: blue;
    text-align: center;

}
.coach {
    font-size: 35px;
    color: orange;
    text-align: center;
    margin-bottom: 40px;
}
.testimonials {
     font-size: 35px;
     color: green;
     text-align: center;  
     margin-top: 70px;
     margin-bottom: 30px;

}
button {
    margin-top: 20px;
    width: 210px; 
    height: auto; 
    font-size: 25px; 
    color: white; 
    background-color: blue; 
    border-radius: 30px; 
    cursor: pointer; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 1650px; 
    border: none; 
    transition: opacity 0.15s, box-shadow 0.15s; 
  }

  button:hover {
    box-shadow: 5px 5px 9px black; 
  }
  button:active {
    opacity: 0.8; 
  }
  .logo, .secondlogo, .thirdlogo {
    width: 80px;
    border-radius: 50px;
    float: bottom;
    margin-right; 20px;
}
.logos {
  text-align: center;
  }
.facebook {
  border-radius: 20px;
}
.youtube {
  border-radius: 30px;
}
.tiktok {
border-radius: 60px;
}
.instagram, .facebook, .youtube {
  margin-right: 30px;
}
.instagram, .facebook, .youtube, .tiktok {
  transition: hover 0.15s, opacity 0.15s;
  height: 100px;
  width: auto;
}
.instagram:hover, .facebook:hover, .youtube:hover, tiktok:hover {
  box-shadow: 5px 5px 9px black;
}
.instagram:active, .facebook:active, .youtube:active, tiktok:active {
  opacity: 0.2;
}
.socials {
  font-size: 40px;
  color: pink;
}
.social-images {
  text-align: center;
}
.funvideo {
  display: block;
  margin-top: 100px;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(../images/second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  p {
      color: white;
      font-size: 25px;
      text-align: center;
  }
  h1 {
      font-size: 55px;
      font-family: Roboto;
      color: blue;
      text-align: center;

  }
.coach {
    font-size: 35px;
    color: orange;
    text-align: center;
    margin-bottom: 40px;
}
.testimonials {
     font-size: 35px;
     color: green;
     text-align: center;  
     margin-top: 30px;
     margin-bottom: 30px;

}
  button {
      margin-top: 20px;
      width: 210px; 
      height: auto; 
      font-size: 25px; 
      color: white; 
      background-color: blue; 
      border-radius: 30px; 
      cursor: pointer; 
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-right: 1650px; 
      border: none; 
      transition: opacity 0.15s, box-shadow 0.15s; 
    }

    button:hover {
      box-shadow: 5px 5px 9px black; 
    }
    button:active {
      opacity: 0.8; 
    }
.logo, .secondlogo, .thirdlogo {
    width: 80px;
    border-radius: 50px;
    float: bottom;
    margin-right: 20px;
  }
.logos {
  text-align: center;
  }
  .facebook {
    border-radius: 20px;
  }
  .youtube {
    border-radius: 30px;
  }
  .tiktok {
  border-radius: 60px;
  }
  .instagram, .facebook, .youtube {
    margin-right: 30px;
  }
  .instagram, .facebook, .youtube, .tiktok {
    transition: hover 0.15s, opacity 0.15s;
    height: 100px;
    width: auto;
  }
  .instagram:hover, .facebook:hover, .youtube:hover, tiktok:hover {
    box-shadow: 5px 5px 9px black;
  }
  .instagram:active, .facebook:active, .youtube:active, tiktok:active {
    opacity: 0.2;
  }
  .socials {
    font-size: 40px;
    color: pink;
    text-align: center;
  }
  .social-images {
    text-align: center;
  }
  .funvideo {
    display: block;
    margin-top: 100px;
    text-align: center;
  }
}
