.firstsection {
    background-image: url(../images/second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.secondsection {
    background-image: url(../images/court.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}    
p, h1, h2, .logos, .social-images, .funvideo {
  text-align: center;
}
p {
    color: white;
    font-size: 25px;
}
h1 {
    font-size: 55px;
    font-family: Roboto;
    color: blue;

}
h2 {
  font-size: 35px;
}
.coach {
    color: orange;
    margin-bottom: 40px;
}
.testimonials {
     color: green;  
     margin-top: 70px;
     margin-bottom: 30px;

}
button {
    margin-top: 20px;
    width: 210px; 
    height: auto; 
    font-size: 25px; 
    color: white; 
    background-color: blue; 
    border-radius: 30px; 
    cursor: pointer; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 1650px; 
    border: none; 
    transition: opacity 0.15s, box-shadow 0.15s; 
  }

  button:hover {
    box-shadow: 5px 5px 9px black; 
  }
  button:active {
    opacity: 0.8; 
  }
  .logo, .secondlogo, .thirdlogo {
    width: 80px;
    border-radius: 50px;
    float: bottom;
    margin-right: 20px;
}
.facebook {
  border-radius: 20px;
}
.youtube {
  border-radius: 30px;
}
.tiktok {
border-radius: 60px;
}
.instagram, .facebook, .youtube {
  margin-right: 30px;
}
.instagram, .facebook, .youtube, .tiktok {
  transition: hover 0.15s, opacity 0.15s;
  height: 100px;
  width: auto;
}
.tiktok:hover {
    box-shadow: 5px 5px 9px black;
}
.facebook:hover {
    box-shadow: 5px 5px 9px blue;
}
 .youtube:hover {
     box-shadow 5px 5px 9px white;
    }
 .instagram:hover {
     box-shadow 5px 5px 9px white;
     }
.instagram:active, .facebook:active, .youtube:active, .tiktok:active {
    opacity: 0.6;
}
.socials {
  font-size: 40px;
  color: pink;
}
.funvideo {
  display: block;
  margin-top: 100px;
}

@media only screen and (min-width: 1000px) {
.firstsection {
    background-image: url(../images/second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.secondsection {
    background-image: url(../images/court.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}    
  p, h1, h2, .logos, .socials, .social-images, .funvideo {
    text-align: center;
  }
  p {
      color: white;
      font-size: 25px;
  }
  h1 {
      font-size: 55px;
      font-family: Roboto;
      color: blue;
  }
  h2 {
    font-size: 35px;
  }
.coach {
    color: orange;
    margin-bottom: 40px;
}
.testimonials {
     color: green;  
     margin-top: 30px;
     margin-bottom: 30px;
}
  button {
      margin-top: 20px;
      width: 210px; 
      height: auto; 
      font-size: 25px; 
      color: white; 
      background-color: blue; 
      border-radius: 30px; 
      cursor: pointer; 
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-right: 1650px; 
      border: none; 
      transition: opacity 0.15s, box-shadow 0.15s; 
    }

    button:hover {
      box-shadow: 5px 5px 9px black; 
    }
    button:active {
      opacity: 0.8; 
    }
.logo, .secondlogo, .thirdlogo {
    width: 80px;
    border-radius: 50px;
    float: bottom;
    margin-right: 20px;
  }
  .facebook {
    border-radius: 20px;
  }
  .youtube {
    border-radius: 30px;
  }
  .tiktok {
  border-radius: 60px;
  }
  .instagram, .facebook, .youtube {
    margin-right: 30px;
  }
  .instagram, .facebook, .youtube, .tiktok {
    transition: hover 0.15s, opacity 0.15s;
    height: 100px;
    width: auto;
  }
.tiktok:hover {
    box-shadow: 5px 5px 9px black;
}
.facebook:hover {
    box-shadow: 5px 5px 9px blue;
}
 .youtube:hover {
     box-shadow 5px 5px 9px white;
    }
 .instagram:hover {
     box-shadow 5px 5px 9px white;
     }
.instagram:active, .facebook:active, .youtube:active, .tiktok:active {
    opacity: 0.6;
    }
  .socials {
    font-size: 40px;
    color: pink;
  }
  .funvideo {
    display: block;
    margin-top: 100px;
  }
}
