body {
  background-image: url(../images/second.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.facebook {
  border-radius: 20px;
}
.youtube {
  border-radius: 30px;
  height: 100px;
  width : auto;
}
.social-images {
  margin-left:1400px;
  display: inline-block;
}
.instagram, .facebook {
  margin-right: 30px;
}
.instagram, .facebook, .youtube, .tiktok {
  transition: hover 0.15s, opacity 0.15s;
}
.instagram:hover, .facebook:hover, .youtube:hover, .tiktok:hover {
  box-shadow: 5px 5px 9px black;
}
.instagram:active, .facebook:active, .youtube:active, .tiktok:active {
  opacity: 0.2;
}
.signature {
  font-size:12px;
  font-style: italic;
  display: inline-block;
}
h1 {
    font-size: 50px;
    font-family: Roboto;
    color: green;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
h2 {
    font-size: 25px;
    color: yellow;
}
.lessons {
  margin-left: 900px;
  margin-bottom: 20px;
}
.how {
  margin-left: 750px;
  margin-top: 100px;
  margin-bottom: 40px;
}
.videos {
  display: block;
  width: 1500px;
  margin-left: 200px;
  text-align: center;
}
.socialdescription {
  font-size: 35px;
  color: red;
}
p {
  color: white;
  font-size: 20px;
}
  h1, h2, p {
    text-align: center;
  }
  h2, button {
    display: inline-block;
  }
  button {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: opacity 0.15s, box-shadow 0.15s;
    margin-left: 1650px;
  }
  button:hover {
    box-shadow: 5px 5px 9px black; 
  }
  button:active {
    opacity: 0.8; 
  }
  .ball {
    float: right;
  }
  img {
    width: 100px;
    border-radius: 50px;
    margin-right: 10px;
    float: bottom;
  }
